/* Basic CSS for the navbar */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  text-align: right; /* Aligns the links to the right */
}

.navbar li {
  display: inline; /* Display links horizontally */
}

.navbar li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.content {
  padding: 20px;
}
.navbar li.logo {
  margin-right: auto; /* Pushes the logo to the far left */
}
.navbar li.logo img {
  width: 30px;
  height: 30px;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content a {
  color: white;
  text-decoration: underline;
}

.footer-content a:hover {
  text-decoration: none;
}